.App{
  width: 80%;
  margin: auto;
}

.App-header {
  text-align: center;
}

.container{
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
}

.Player .container{
  background: #69ffcd;
}
.selsFish{
  /* padding: 10px 10px; */
  display: flex;
  justify-content: space-between;
}

.btns{
  display: flex;
  justify-items: center;
}

.selsFish button{
  margin: 10px 5px;
  padding: 5px 10px;
}

.Game p{
  font-size: 16px;
}

.btnsShop{
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
}


.StreetMarket .container{
  background: #efff62;
}